body {
    margin: unset;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .page-container img {
        width: fit-content;
    }

    .page-container::after {
        content: "";
        background-image: url("../Assets/background.jpg");
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: contain;
    }

.wrap-header {
    background-image: url("../Assets/header.jpg");
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 217, 0);
}
.header-login {
    justify-content: space-between;
    padding: 0 40px;
}

.hello-text {
    font-size: 18px;
    font-weight: bold;
    margin-right: 16px;
}

.header-text {
    font-weight: bold;
    font-size: 1.5rem;
}
.main-container {
    background: #FFFFFF;
    width: fit-content;
    padding: 30px;
    border-radius: 10px
}
.main-title {
    text-align: center;
    font-weight: 600;
}
.employee-list-button {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}
.ml-180 {
    margin-left: 180px
}
.ml-60 {
    margin-left: 60px
}
.ml-48 {
    margin-left: 48px
}
.ml-4 {
    margin-left: 4px
}
